[submodule "tmux-plugins/tmux-resurrect"]
	path = tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-plugins/tmux-nova"]
	path = tmux-plugins/tmux-nova
	url = git@github.com:o0th/tmux-nova.git
